[Unit]
Description=BoringTun Interface Daemon
Before=network-pre.target

[Service]
Type=simple
DynamicUser=no
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_SYS_PTRACE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_SYS_PTRACE
ExecStart=/usr/bin/boringtun-cli --disable-drop-privileges -f wg0
Restart=on-failure

[Install]
WantedBy=multi-user.target
